.div-boton{
    background-color: rgb(202, 204, 228);
    color: black;
    width: 14%;
    border-radius: 5px;
    border: none;
    font-size: 2px;
    cursor: pointer;
    border: 1px solid rgb(58, 56, 56);
    font-size: 22px;
    text-align: center;
    padding: 3px;
}
.label{
    font-size: 22px;
    text-align: center;
    background-color: rgb(202, 204, 228);
    border: 1px solid rgb(58, 56, 56);
    border-radius: 5px;
    padding: 3px;
   
}
fieldset {
    border-radius: 10px;
    width: 400px;
    left: 900px;
    margin-left: 350px;
}
label{
    font-size: 28px;
}

.producto{
    border-radius: 5px;
    background-color: #F3FF33 ;
    width: 390px;
    padding: 5px;
    font-size: 20px;
    border-radius: 14px;
    text-align: center;
}
.h1{
    margin-left: 200px;

}
.h2{
    margin-left: 200px;
}
.h3{
    margin-left: 200px;
}
.h4{
    border-radius: 5px;
    border: 1px solid rgb(58, 56, 56);
    width: 100px;
    padding: 5px;
    border-radius: px;
    margin-left: 200px;
}
.h5{
    border-radius: 5px;
    border: 1px solid rgb(58, 56, 56);
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 200px;
}
